.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #132B42;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.particles-js{
  position: fixed;
}

.header-navbar {
  background-color: #132B42;
  color: aliceblue;  
  padding: 20px;
}

.card:hover{
  box-shadow: 4px 4px 4px #132B42;
  transform:scale(1.1);
  cursor: pointer;
}

.card{
width:200px;
transition:.3s;
}

.btn-toolbar {
  width: 150px;
  height: 50px;
  color: white !important;
  font-weight: bolder !important;
  transition: 2s;
  font-size: x-large !important;
  text-transform: none !important;
  vertical-align: middle !important;
  background-color: #E94388 !important;
}

.btn-toolbar:hover {
  background-color: #F3AD5E !important;
  color: #132B42 !important;
}

.custom-col {
  height: 50px !important;
}

.no-underline {
  text-decoration: none !important;
}

.v-align {
  vertical-align: middle !important;
  margin-top: auto;
  margin-bottom: auto;
}

.customMinWidth {
  min-width: max-content;
}

.page-container{
  position: relative;
  min-height: 100vh;
}

.container{
  padding-bottom: 2.5rem;
}